    <!-- Banner  -->
    <div class="container-fluid">
        <% for(const banner of bannersCenter) { %> 
        <img src="/img/banners/<%= banner.image %> " alt="banner" class="img-fluid">
        <% } %> 
    </div>
    <!-- Banner  -->