    <!-- Doble Banner  -->
    <div class="container-fluid">
        <div class="row">
            <% for(const banner of bannersBottom) { %> 
            <div class="col-12 col-md-6 text-center py-3">
                <img src="/img/banners/<%= banner.image %> " alt="banner pie" class="img-fluid">
            </div>
        <% } %> 
        </div>
    </div>
    <!-- Doble Banner  -->