<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ECOMMERCE Node JS</title>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="/scss/style.css" rel="stylesheet">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="/scss/keen-slider.css">

</head>

<body>
        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
            <div class="container-fluid">

                <!-- Brand -->
                <a class="navbar-brand waves-effect" href="/" target="_blank" id="brand-menu">
                    <img src="/img/logo.png" alt="logo Maximo Limpieza" class="img-fluid">
                </a>

                <!-- Search Mobile -->
                <li class="nav-item d-block d-md-none w-50">
                    <form class="form-inline" action="/productos/search" method="GET">
                        <div class="lg-form my-0 d-flex align-items-bottom">
                            <input class="form-control mr-sm-1 pr-5" type="text" placeholder="Buscar" name="q">
                            <label for="send"></label>
                            <button type="submit" class="border-0 bg-transparent">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </form>
                </li>

                <!-- Collapse -->
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Links -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <!-- Left -->
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link waves-effect" href="/">Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect" href="/productos">Productos</a>
                        </li>
                        <li class="nav-item d-none d-md-block ">
                            <form class="form-inline" action="/productos/search" method="GET">
                                <div class="lg-form my-0 d-flex align-items-bottom">
                                    <input class="form-control mr-sm-1 pr-5" type="text" placeholder="Buscar" name="q">
                                    <label for="send"></label>
                                    <button type="submit" class="border-0 bg-transparent">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </form>
                        </li>
                    </ul>

                    <!-- Right -->
                    <ul class="navbar-nav nav-flex-icons align-items-center mr-5 w-25 pr-3">
                        <li>
                            <div class='carrito'>
                                <p class="carrito-total">
                                    <span class="simpleCart_quantity badge badge-danger"></span>
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                </p>

                                <div class="bolsa">
                                    <div class="simpleCart_items"></div>
                                    <span class="simpleCart_total"></span>
                                    <div class="opciones">
                                        <a class="boton simpleCart_empty" href="javascript:void(0)">Vaciar carrito |</a>
                                        <a class="boton simpleCart_checkout" href="/cart">Comprar</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <% if(locals.user != undefined) { %>
                        <li class="nav-item mr-1 py-1">
                            <div class="dropdown">
                                <strong class="dropdown text-capitalize" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <%= locals.user.firstName %>
                                </strong>
                                <div class="dropdown-menu mr-2" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="/users/<%=locals.user.id%>">Perfil</a>
                                    <a class="dropdown-item" href="/users/logout">Cerrar Sesion</a>
                                </div>
                            </div>
                        </li>
                        <%} if(!locals.user) { %>
                        <li class="nav-item">
                            <div class="dropdown">
                                <button class="dropdown text-capitalize border-0 bg-transparent" type="button"
                                    id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    <i class="fas fa-user"></i>
                                </button>
                                <div class="dropdown-menu mr-4" aria-labelledby="dropdownMenuButton2">
                                    <a class="dropdown-item" href="/users/registro">Registro</a>
                                    <a class="dropdown-item" href="/login">Login</a>
                                </div>
                            </div>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>

        </nav>
        <!-- Navbar -->
