    <!-- Info ecommerce icons  -->
    <div class="container d-lg-flex justify-content-around py-4">
        <div class="info text-center py-3">
            <i class="fas fa-truck fa-2x"></i><br>
            <strong>ENVIAMOS TU COMPRA</strong><br>
            <span>Envios a todo el pais</span>
        </div>
        <div class="info text-center py-3">
            <i class="far fa-money-bill-alt fa-2x"></i><br>
            <strong>PAGA COMO QUIERAS</strong><br>
            <span>MercadoPago - Tarjetas - Efectivo</span>
        </div>
        <div class="info text-center py-3">
            <i class="fas fa-lock fa-2x"></i><br>
            <strong>COMPRA CON SEGURIDAD</strong><br>
            <span>Tus operaciones estan protegidas</span>
        </div>
    </div>
    <!-- Info ecommerce icons  -->