<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Maximo Limpieza - Admin</title>

  <!-- Custom fonts for this template-->
  <script src="https://kit.fontawesome.com/8de40d40f6.js" crossorigin="anonymous"></script>

  <!-- Custom styles for this template-->
  <link href="/css/sb-admin-2.min.css" rel="stylesheet">

  <!-- datatables -->
    <!-- datatables  -->
    <link href="/css/addons/datatables.min.css">
    <link href="/css/addons/datatables-select.min.css">

</head>

<body id="page-top">
