<%- include('./partials/header.ejs') %>

<!--Body-->
<main id="index">
    <div class="container py-5">
        <div class="py-3">
            <%- include('./partials/productos-navbar.ejs')  %>
        </div>
        <%- include('./partials/productos-todos.ejs')  %>
    </div>
</main>
<!--Body-->

<%- include('./partials/footer.ejs') %>