<%- include('../home-partials/header.ejs') %>

<!--Main layout-->
<main class="mt-5 pt-4">
   <div class="container">

      <!--Grid row-->
      <div class="row">
         <!--Grid column-->
         <div class="col-12 col-md-8 p-3">

            <!-- Heading -->
            <h4 class="d-flex justify-content-between align-items-center mb-3">
               <span class="text-muted">Tu Carrito</span>
               <span class="badge badge-secondary badge-pill simpleCart_quantity"></span>
            </h4>

            <!-- Cart -->
            <ul class="list-group mb-3">
               <div class="carrito list-group mb-3">
                  <div class="simpleCart_items w-100"></div>
                  <div class="list-group-item d-flex justify-content-between">
                     $<span class="simpleCart_total"></span>
                  </div>
   
                  <div class="opciones">
                  </div>
               </div>
            </ul>
            <!-- Cart -->

            <!-- Promo code -->
            <form class="card p-2">
               <div class="input-group">
                  <input type="text" class="form-control" placeholder="Promo code" aria-label="Recipient's username"
                     aria-describedby="basic-addon2">
                  <div class="input-group-append">
                     <button class="btn btn-secondary btn-md waves-effect m-0" type="button">Redeem</button>
                  </div>
               </div>
            </form>
            <!-- Promo code -->

            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit" id="btnCheckout">Continue to checkout</button>
         </div>
         <!--Grid column-->

      </div>
      <!--Grid row-->

   </div>
</main>
<!--Main layout-->

<%- include('../home-partials/footer.ejs') %>