<%- include('../partials/header.ejs') %>

<!--Body-->
<main id="login">
	<div class="container my-5 py-5">
		<h1>Login</h1>
		<form action="/users/login" method="post" class="d-flex flex-column">
			<label for="user">USUARIO</label>
			<input type="text" name="user">
			<label for="usuario">CONTRASEÑA</label>
			<input type="password" name="pass">
			<input type="submit" value="Login" class="btn btn-primary">
		</form>
	</div>
</main>
<!--Body-->

<%- include('../partials/footer.ejs') %>